<div class="main">
    <div class="box-title">
        <span></span><h1>Cursos</h1>
    </div>
    
    <div class="container-cur">  
        <div class="box-cur">
            <p>Javascript Inicial</p>
            <img src="../../assets/js.png" alt="js">
        </div>
        <div class="box-cur">
            <p>Javascript Intermedio</p>
            <img src="../../assets/js.png" alt="js">
        </div>
        <div class="box-cur">
            <p>Javascript Avanzado</p>
            <img src="../../assets/js.png" alt="js">
        </div>
        <div class="box-cur">
            <p>Java</p>
            <img src="../../assets/java.png" alt="java">
        </div>
        <div class="box-cur">
            <p>Python</p>
            <img src="../../assets/piton.png" alt="py">
        </div>
        <div class="box-cur">
            <p>Desarrollo Mobile Kotlin</p>
            <img src="../../assets/Kotlin_Icon.svg.png" alt="kotlin">
        </div>
    </div>
</div>
